{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            {% for accommodation in accommodations %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h2>Name: {{ accommodation.name }}</h2>
                        </header>

                        <p>
                            Description: {{ accommodation.description }}
                        </p>

                        <img src="{{ asset('uploads/images/accommodations/' ~ accommodation.image) }}"
                             width="400" height="200" alt="image">

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-success btn-xs" href="{{ path('accommodation_edit',
                                    {'id' : accommodation.id}) }}">edit &raquo;</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('accommodation_delete',
                                    {'id' : accommodation.id}) }}">delete &raquo;</a>

                                <a class="btn btn-default btn-xs"
                                   href="{{ path('blog_index') }}">Back &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
                <hr />
            {% endfor %}
        </div>
    </div>

{% endblock %}

