{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('accommodation_delete', {id: accommodation.id}) }}" method="POST">
                <fieldset>
                    <legend>Delete an accommodation</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="accommodation_name">Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="accommodation_name" placeholder="Accommodation name"
                                   name="accommodation[name]" value="{{ accommodation.name }}" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="accommodation_description">Description</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="accommodation_description"
                                  placeholder="Enter the description of your property"
                                  name="accommodation[description]" disabled>{{ accommodation.description }}</textarea>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('accommodation_view', {id: accommodation.id}) }}">
                                Cancel</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

