{% extends 'base.html.twig' %}

{% block body %}

    {% for msg in app.session.flashbag.get('message') %}
        <div id="msg" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
            {{ msg }}
        </div>
    {% endfor %}

    <section class="article">
        <h1>Accommodation Details</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accommodation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ accommodation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ accommodation.description }}</td>
            </tr>
            <tr>
                <th>Added on</th>
                <td>{% if accommodation.dateAdded %}
                        {{ accommodation.dateAdded|date('jS F \\a\\t H:i:s', 'Europe/Sofia') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ accommodation.owner.fullName }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/accommodations/' ~ accommodation.image) }}"
                         width="400" height="200" alt="image"></td>
            </tr>
            <tr>
                <th>Views</th>
                <td>{{ accommodation.viewCount }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ accommodation.likesNumber }}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="actions">
        <a href="{{ path('accommodation_add_like', {'id': accommodation.id}) }}"><i class="far fa-thumbs-up"></i></a>

        <button id="btnComment" class="btn btn-info btn-xs">Add</button>
        <div id="form"></div>

        {#{% for comment in comments %}
            <p>{{ comment.content }}</p>
            <small>{{ comment.dateAdded|date("F jS \\a\\t g:ia", "Europe/Sofia") }}</small>
            <a href="{{ path('user_message', {'id': comment.author.id, 'accommodationId': accommodation.id}) }}">
                <small>{{ comment.author.fullName }}</small></a>
            <hr />
        {% endfor %}#}

    </section>
    <footer>
        <div class="m-3 text-right">
            <button class="btn btn-outline-warning btn-sm">
                <a href="{{ path('blog_index') }}">Back to the list</a>
            </button>
            {% if app.getUser() and app.getUser().isAdmin() %}
                <button class="btn btn-outline-warning btn-sm">
                    <a href="{{ path('accommodation_edit', { 'id': accommodation.id }) }}">Edit</a>
                </button>
                <button class="btn btn-sm">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </button>
            {% endif %}
        </div>
    </footer>

{% endblock %}
