{% extends 'base.html.twig' %}

{% block body %}

    {% for msg in app.session.flashbag.get('message') %}
        <div id="msg" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
            {{ msg }}
        </div>
    {% endfor %}

    <section class="article">
        <header>
            <h1 class="h4 m-3">Details for {{ accommodation.name }}</h1>
            <div class="mx-4 likes-views">
                <ul class="row list-unstyled">
                    <li class="mx-2 text-secondary">Id: <span class="text-primary">
                        {{ accommodation.id }}</li>
                    <li class="mx-2 text-secondary">Views: <span class="text-primary">
                        {{ accommodation.viewCount }}</li>
                    <li class="mx-2 text-secondary">Likes: <span class="text-primary">
                        {{ accommodation.likesNumber }}</li>
                </ul>
            </div>
        </header>
        <main class="row">
            <table class="table col">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ accommodation.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ accommodation.description }}</td>
                </tr>
                <tr>
                    <th>Added on</th>
                    <td>{% if accommodation.dateAdded %}
                            {{ accommodation.dateAdded|date('jS F \\a\\t H:i:s', 'Europe/Sofia') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Owner</th>
                    <td>{{ accommodation.owner.fullName }}</td>
                </tr>
                </tbody>
            </table>
            <div class="col mx-5">
                <img src="{{ asset('uploads/images/accommodations/' ~ accommodation.image) }}"
                     width="400" height="200" alt="image" />
                <ul class="row list-unstyled my-3 mx-1">
                    <li><span class="text-success">Give a like</span><a href="{{ path('accommodation_add_like',
                            {'id': accommodation.id}) }}">
                            <i class="far fa-thumbs-up fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </main>
    </section>
    <section class="comments col-6 mx-auto">
        <div class="m-3">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                    data-target="#addComment">
                Add comment
            </button>
        </div>
        <div class="card card-body bg-dark text-light">
            <h1 class="h5 card-title">Comments from users</h1>
            <div class="card-text">
                {% for comment in comments %}
                    <p>{{ comment.content }}</p>
                    <small>{{ comment.dateAdded|date("F jS \\a\\t g:ia", "Europe/Sofia") }}</small>
                    {#<a href="{{ path('user_message', {'id': comment.author.id, 'accommodationId': accommodation.id}) }}">#}
                        <small>{{ comment.author.fullName }}</small>
                    {#</a>#}
                    <hr />
                {% endfor %}
            </div>
        </div>
    </section>
    <footer>
        <div class="m-3 text-right">
            <button class="btn btn-outline-warning btn-sm">
                <a href="{{ path('blog_index') }}">Back to the list</a>
            </button>
            {% if app.getUser() and app.getUser().isAdmin() %}
                <button class="btn btn-outline-warning btn-sm">
                    <a href="{{ path('accommodation_edit', { 'id': accommodation.id }) }}">Edit</a>
                </button>
                <button class="btn btn-sm">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </button>
            {% endif %}
        </div>
        <!-- Modal -->
        <form method="POST" name="comment" action="{{ path('comment_new', {'id': accommodation.id}) }}" >
            <div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add a comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <textarea class="form-control" rows="6" id="comment_content"
                                          name="comment[content]" placeholder="Place your comment here"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </footer>

{% endblock %}