{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h4 m-3">Subject of message: {{ message.about }}</h1>
    <div class="mx-4 likes-views">
        <ul class="row list-unstyled">
            <li class="mx-2 text-secondary">Id: <span class="text-primary">
                {{ message.id }}</li>
            <li class="mx-2 text-secondary">Sender: <span class="text-primary">
                {{ message.sender.fullName }}</li>
            <li class="mx-2 text-secondary">Time sent: <span class="text-primary">
                {% if message.dateAdded %}
                    {{ message.dateAdded|date('jS F \\a\\t H:i:s', 'Europe/Sofia') }}
                {% endif %}</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-6">
            <p class="card-header font-weight-bold">Content:</p>
            <p class="card-body">{{ message.content }}</p>
        </div>
    </div>


    <div class="m-3 text-right">
        <a class="btn p-1" href="{{ path('message_reply', {'userId': message.sender.id, 'messageId': message.id}) }}">
            <button class="btn btn-sm btn-primary text-light">Reply</button>
        </a>
        <a class="btn p-1" href="{{ path('mailbox') }}">
            <button class="btn btn-outline-warning btn-sm text-secondary">Back to mail list</button>
        </a>
        <button class="btn btn-sm">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </button>
    </div>

{% endblock %}
