{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('message') %}
        <div id="msg" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
            {{ msg }}
        </div>
    {% endfor %}

    <p>From: {{ message.sender.fullName }}</p>
    <p>About: {{ message.about }}</p>
    <p>Content: {{ message.content }}</p>
    <small>Date: {{ message.dateAdded|date("F jS \\a\\t g:ia", "Europe/Sofia") }}</small>

    <h1 class="h1">Add message: </h1>
    <button id="btnMessage" class="btn btn-info btn-xs">Add</button>

    <div id="messageForm"></div>


    <script>
        let selectForm = $('#messageForm');
        let form = $(`
            <form method="post">
                <label>
                    About:
                    <input type="text" name="message[about]"/>
                </label><br />
                <label>
                    Content:
                    <textarea rows="10" name="message[content]"></textarea>
                </label><br />
                {{  form_row(form._token) }}
                <input type="submit" value="Send"><br />
            </form>
        `);

        $('#btnMessage').click(function (e) {
            e.preventDefault();
            selectForm.append(form);
            selectForm.toggle();
        })

    </script>

{% endblock %}

