{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('message') %}
        <div id="msg" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <img src="{{asset('uploads/images/' ~ article.image) }}" width="400" height="200" alt="">

                    <small class="author">
                        {{ article.author.fullName }}
                    </small>

                    <a href="{{ path('article_likes', {'id': article.id}) }}"><i class="far fa-thumbs-up"></i></a>

                    <button id="btnComment" class="btn btn-info btn-xs">Add</button>
                    <div id="form"></div>

                    {% for comment in comments %}
                        <p>{{ comment.content }}</p>
                        <small>{{ comment.dateAdded|date("F jS \\a\\t g:ia", "Europe/Sofia") }}</small>
                        <a href="{{ path('user_message', {'id': comment.author.id, 'articleId': article.id}) }}">
                            <small>{{ comment.author.fullName }}</small></a>
                        <hr />
                    {% endfor %}

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and app.getUser().isAdmin() %}
                            <a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id' : article.id}) }}">edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id' : article.id}) }}">delete &raquo;</a>
                            {% endif %}
                            
                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>

    <script>
        let selectForm = $('#form');
        let form = $(`
            <form method="post" action="{{ path('add_comment', {'id': article.id}) }}" >
                <div class="form-group">
                    <!--<label class="col-sm-4 control-label" for="comment_content">Content</label>-->
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="comment_content"
                                  name="comment[content]"></textarea>
                        <input class="btn btn-success btn-xs" type="submit" value="Create" />
                    </div>
                </div>
            </form>
            `);

        $('#btnComment').click(function (e) {
            e.preventDefault();
            selectForm.append(form);
            selectForm.toggle();
        })

    </script>

{% endblock %}

